@font-face {
  font-family: "Poppins";
  src:
    url("./PoppinsRegular.woff2") format("woff2"),
    url("./PoppinsRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("./PoppinsBold.woff2") format("woff2"),
    url("./PoppinsBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
